.sobre {
  text-align: center;
  padding: 2.5rem;
}

.sobre__titulo {
  color: #8d0606;
  font-family: "pacifico", cursive;
  font-size: 3.1875rem;
}

.sobre__descripcion {
  color: #595959;
  font-size: 1.75rem;
  font-weight: 100;
}

/* --------------- Responsive para dispositivos en pantallas entre 320px y 480px------------------ */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .sobre {
    padding: 2.5rem 1rem;
  }
  .sobre__titulo {
    font-size: 2rem;
  }
  .sobre__descripcion {
    font-size: 1.2rem;
  }
}

/* --------------- Responsive para dispositivos en pantallas entre 481px y 768px------------------ */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .sobre {
    padding: 2.5rem 1rem;
  }
  .sobre__titulo {
    font-size: 2.5rem;
  }
  .sobre__descripcion {
    font-size: 1.5rem;
  }
}
